.panel-danger>.panel-heading {
	background: url("panel_background.jpg") no-repeat !important;
	border: none;
	color: white;
}

.panel-danger>.panel-collapse {
	border: none;
	background: url("player_body_background.jpg");
	color: white;
	background-size: 100%;
}

.panel-default>.panel-heading {
	background: url("player_head_background.jpg") no-repeat !important;
	color: white;
}

.panel-default>.panel-collapse {
	border: none;
	background: url("player_body_background.jpg");
	color: white;
	background-size: 100%;
}

#dataPanel {
	margin-top: 20px;
}

body {
	background-image: url("home_background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat; important!;
}
.row {
	margin-top: 40px;
	padding: 0 10px;
}

.clickable {
	cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

@media screen and (max-width: 992px) {
	#fixed {
		top: 90px;
		margin-top: 30px;
		position: static;
		min-width: 85%;
		max-width: 85%;
		float: left;
	}
}

@media screen and (min-width: 993px) {
	#fixed {
		top: 90px;
		position: fixed;
		margin-top: 20px;
		min-width: 35%;
		max-width: 35%;
		float: left;
	}
}

#absolute {
	margin-top: 20px;
}

#load {
	color: black;
}

.panel-heading {
	position: relative;
	color: black;
}
input.url
{
    width: 55%;
}
input
{
    width: 45%;
}
@media screen and (min-width: 993px) {
	#logo {
		position: fixed;
		left: 0px;
		bottom: 0px;
		margin-bottom: 50px;
		margin-left: 50px;
	}
}

@media screen and (max-width: 992px) {
	/* applies only if the screen is narrower than 500px */
	#logo {
		position: fixed;
		left: 0px;
		bottom: 0px;
		z-index: -1;
		margin-bottom: 10px;
		margin-left: 10px;
	}
}

.panel-heading.accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e235";
	/* adjust as needed, taken from bootstrap.css */
	float: right;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 15pt;
	/* adjust as needed */
	color: white;
	/* adjust as needed */
}

.panel-heading.accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e234";
	/* adjust as needed, taken from bootstrap.css */
}

.panel-heading:hover {
	cursor: pointer;
}

.panel-heading:hover h4 {
	text-decoration: underline;
}