.panel-danger > .panel-heading{
    background-image: none;
    background-color: #97B4C5;
    
}
/*#importSelect{
    background-color: red;
    color: gainsboro;
}*/
.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
#fixed{
    position: fixed;
    top: 90px;
    z-index: 2;
    min-width: 35%;
    max-width: 35%;
    background-color: #d0d4db;
}
#absolute{
   
}
.panel-heading{
    position: relative;
    color: black;
}

.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\e235";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    position: absolute;
    bottom: 15px;
    right: 5px;
    font-size: 15pt;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}
.panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e234";
    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading:hover h4 {
    text-decoration: underline;
}
